altgraph==0.17
asgiref==3.3.1
Django==3.1.3
future==0.18.2
Jinja2==2.11.2
MarkupSafe==1.1.1
pefile==2019.4.18
PyInstaller==3.6
pytz==2020.4
pywin32-ctypes==0.2.0
PyYAML==5.3.1
render==1.0.0
sqlparse==0.4.1
