{% extends 'header.html' %}
{% load static %}
{% block body %}
<div class="container-fluid px-0">
    <img src="{% static 'images/About-US.jpg' %}" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container w-50 px-0 py-5">
    <h2 class="text-center"> WHO WE ARE</h2>
    <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div class="container py-0 marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       <img src="{% static 'images/s.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <br>
        <h2 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444"><b>SUM</b></h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/i.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <h2 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444"><b>ICT</b></h2>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="{% static 'images/s.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        <h2 class="w3-text-yellow" style="text-shadow:1px 1px 0 #444"><b>SOLUTIONS</b></h2>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
    <div class="row">
        <div class="col-md-6 ">
            <h5 class="text-primary">Data Enthusiasts</h5>
            <p> We provide customized data products to give valuable insights for Predictive
                Analysis</p>
        </div>
        <div class="col-md-6">
            <h5 class="text-primary">Web Developers</h5>
            <p>We conceptualize, design and create digital, content-rich products</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5 class="text-primary">Digital Marketers</h5>
            <p>We ensure harmony between client’s strategies with their digital footprint to assist
                    them in reaching full potential</p>
        </div>
        <div class="col-md-6">
            <h5 class="text-primary">Consultants</h5>
            <p>We assist in conceiving and developing digital solutions to real world problems</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h5 class="text-primary">Trainers</h5>
            <p>We provide a nurturing platform for the next-gen to learn the trade secrets under the
                        guidance of Industry Veterans</p>
        </div>
        <div class="col-md-6">
            <h5 class="text-primary">AI Experts</h5>
            <p>We develop AI solutions for your business problems</p>
        </div>
    </div>
</div>
<div class="container px-2 py-5">
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'images/why-sis.png' %}" alt="...">
        </div>
        <div class="col-md-6 pt-5">
            <h2 class="">Why Choose SUMICTSOLUTIONS</h2>
            <p class="text-justify ">Sumictsolutions continuously works to provide innovative and better solutions using
                the most advanced technologies. Clients can depend, trust and count on us. We follow the latest
                trend and anticipate the changes required so that it gets implemented in a way which makes you
                digitally empowered. Our team comprises of experts who have experience in various
                domains who are aware of the needs of global market. We offer the best digital solutions and
                provide value adding services. Grow your business and be future ready with Sumictsolutions .
            </p>

            <ul>
                <li> <span class="colr"><i class="fas fa-check-circle"></i></span> Skilled and knowledgeable
                    team of experts rendering ceaseless service.</li>
                <li><span class="colr"><i class="fas fa-check-circle"></i></span> Economical and cost-effective
                    solutions which fits your budget.</li>
                <li><span class="colr"><i class="fas fa-check-circle"></i></span> 24x7 support service to our
                    clients ensuring quality.</li>
                <li><span class="colr"><i class="fas fa-check-circle"></i></span> Believe in ethics and
                    integrity. Taking responsibility for our actions.</li>
                <li><span class="colr"> <i class="fas fa-check-circle"></i></span> Concentration on development
                    and up for any challenge.</li>
            </ul>
        </div>

    </div>
            <!-- /container -->
</div>

{% endblock body %}