{% extends 'emp_base.html' %}
{% block main  %}
<h4 class="p-2 text-danger" style="border-bottom: 2px solid green;">Employee Dashboard</h4>
    <div class="row text-center">
        <div class="col-sm-12 p-2">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="text-success">Welcome Back To ERMS</h4>
                    <h5 class="text-capitalize">{{request.user.first_name}} {{request.user.last_name}}</h5>
                </div>
            </div>
        </div>
    </div>


<div  class="container-fluid" style="width:80%;margin-bottom:5%">
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Employee Code:</strong>
        </div>
        <div class="col-md-6">
            {{employee.empcode}}
        </div>
    </div><hr>
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Employee Department:</strong>
        </div>
        <div class="col-md-6">
            {{employee.empdept}}
        </div>
    </div><hr>
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Employee Designation:</strong>
        </div>
        <div class="col-md-6">
            {{employee.designation}}
        </div>
    </div><hr>
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Employee JoiningDate:</strong>
        </div>
        <div class="col-md-6">
            {{employee.joiningdate}}
        </div>
    </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Email Id :</strong>
        </div>
        <div class="col-md-6">
            {{employee.user.username}}
        </div>
    </div><hr>
     <div class="row">
        <div class="col-md-6">
            <strong>Contact :</strong>
        </div>
        <div class="col-md-6">
            {{employee.contact}}
        </div>
     </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Date of Birth :</strong>
        </div>
        <div class="col-md-6">
            {{employee.dob}}
        </div>
    </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Address :</strong>
        </div>
        <div class="col-md-6">
            {{employee.address}}
        </div>
    </div><hr>
</div>
</div>
{% endblock %}
