<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">


  {% load static %}
  {% block css %}
  <!-- Css File -->
  <link rel="stylesheet" type = "text/css" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'css/style.css' %}">
  {% endblock %}

  <title>{% block title %} {% endblock title %}SumICTSolutions</title>
</head>
<body>
    <nav class="navbar  navbar-expand-lg navbar-light py-2 bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="{% static 'images/logo.png' %}" alt="" width="40" height="30" class="d-inline-block align-text-top">
            <b>&nbsp;𝐒𝐔𝐌𝐈𝐂𝐓𝐒𝐎𝐋𝐔𝐓𝐈𝐎𝐍𝐒</b>
          </a>
            <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <strong class="navbar-collapse"><ul class="navbar-nav ms-auto">
              <li class="nav-item mx-3">
                <a class="nav-link active" aria-current="page" href="/">𝐇𝐨𝐦𝐞</a>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" href="/about">𝐀𝐛𝐨𝐮𝐭 𝐔𝐬</a>
              </li>
              <li class="nav-item mx-3 dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  𝐒𝐞𝐫𝐯𝐢𝐜𝐞𝐬
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Web Designing</a></li>
                  <li><a class="dropdown-item" href="#">Web Development</a></li>
                  <li><a class="dropdown-item" href="#">Data Visualization</a></li>
                  <li><a class="dropdown-item" href="#">Software Development</a></li>
                  <li><a class="dropdown-item" href="#">Graphic Design</a></li>
                  <li><a class="dropdown-item" href="#">Cloud</a></li>
                </ul>
              </li>
              <li class="nav-item mx-3">
                <a class="nav-link active" href="/contact">𝐂𝐨𝐧𝐭𝐚𝐜𝐭 𝐔𝐬</a>
              </li>
              <div class="d-flex mx-3">
                <a class="btn btn-warning" style="text:white" href="/emp_login" role="button">𝐋𝐨𝐠𝐢𝐧</a>
              </div>
            </ul></strong>
          </div>
        </div>
    </nav>

{%block body %}

{% endblock body %}

    <!-- Footer Section End -->
    <!-- Section: Links  -->
<footer class="text-center text-lg-start bg-light ">
  <section class="d-flex py-0 border-top text-dark">
    <div class="container text-center bg-light text-md-start mt-5 mb-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <img src= {% static "images/footerlogo.png" %} alt="Logo" style="border:1px">
          <p class="card-text text-justify py-2">We Manage Your Enterprise Needs, So You Can Manage Your Business.</p>
        </div>

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-primary">
            Products
          </h6>
          <p>
            School Management
          </p>
          <p>
            ERP-Software
          <p>
            E-commerce Solution
          </p>
          <p>
            Task Management
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-primary">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Leadership</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Blogs</a>
          </p>
          <p>
            <a href="/career" class="text-reset">Careers</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Our Achievements</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-primary">
            Address
          </h6>
          <p><i class="fas fa-home me-3"></i>Srikaranpur, Srigangangar-335073 </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@sumictsolutions.com
          </p>
          <p><i class="fas fa-phone me-3"></i>+ 91 9783451599</p>
          <!--<p><i class="fas fa-print me-3"></i>+ 91 8209137041</p>-->
          <p class="float-end"><a href="#">Back to top</a></p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2 bg-info">
    © 2022 Copyright:
    <a class="text-reset" href="https://SumIctSolution.com/" style="font-size:20px">🆂🆄🅼🅸🅲🆃🆂🅾🅻🆄🆃🅸🅾🅽🆂</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    <!-- Footer Section End -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>