{% extends 'header.html' %}
{% load static %}

<html xmlns="http://www.w3.org/1999/html">
<head>
<style>
.headingfour:hover{
color : lightblue;

</style>

</head>


{% block body %}
<!-- Carousel Block Start -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/women.jpg' %}" class="d-block w-100" style="widows: 1600px; height:600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/20873.webp' %}" class="d-block w-100" style="widows: 1600px; height:600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Working Culture</h5>
        <p>Our Employees like to Work in Team</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/DA.jpg' %}" class="d-block w-100" style="widows: 1600px; height:600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/Cloud.jpg' %}" class="d-block w-100" style="widows: 1600px; height:600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2>Cloud Computing</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/c2.png' %}" class="d-block w-100" style="widows: 1600px; height:600px" alt="...">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel Block End -->

<!-- About Section Start -->
<section class="py-0 text-center container bg-light">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light" style="text-shadow:2px 2px 0 #444"><b>Who We Are</b></h1>
        <p class="lead text-muted" style="text-shadow:1px 1px 0 #444">Sumictsolutions is a premier software services company in the field of Software Development, Web Development, Software Testing, Enterprise Cloud and Data visualization.</p>
        <p>
          <a href="/about" class="btn btn-primary my-2">View More</a>
        </p>
      </div>
    </div>
  </section>
<!-- About Section End-->

<!-- Card Section Start -->

  <div class="album py-4 ">
    <div class="container">
      <h1 class="fw-light text-center" style="text-shadow:2px 2px 0 #444"><b>Check Our Services</b></h1>
      <hr style="height:2px; width:100%; border-width:0; color:blue; background-color:blue; align-center">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/tech_microsoft.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
              <div class="card-body">
                <p class="card-text text-justify">Microsoft is a unified communication and collaboration platform that combines persistent workplace chat,
                video meetings, file storage, and application integration.</p>
              </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/tech_php.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
            <div class="card-body">
                <p class="card-text text-justify">The PHP Hypertext Preprocessor (PHP) is a programming language that allows
                  web developers to create dynamic content that interacts with databases.</p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
           <img src="{% static 'images/tech_ui-ux.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
            <div class="card-body">
              <p class="card-text text-justify">User interface design is the design of user interfaces for machines and software with the focus on maximizing usability and the user experience.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/tech_mobile-technology.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
              <div class="card-body">
              <p class="card-text text-justify">Mobile technology consists of any two-way computing device that is intended for portable use,
                as well as the communication networks that connect these devices.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="{% static 'images/tech_software-testing.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
            <div class="card-body">
              <p class="card-text text-justify">Software testing can provide an objective, independent view of the software to
                allow the business to appreciate and understand the risks of software implementation.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{% static 'images/tech_analytics.svg' %}" class="d-block w-100" width="100%" height="225" alt="...">
              <div class="card-body">
                <p class="card-text text-justify ">AI and machine learning technologies have brought a new
                  revolution in the marketing and sales industry,
                  majorly because they excel at pattern recognition, enabling sales teams.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Card Section End -->

<!-- Cloud Section Start -->
<div class="container py-0 marketing">
    <!-- Three columns of text below the carousel -->
  <h1 class="fw-light text-center" style="text-shadow:2px 2px 0 #444"><b>Our Cloud Stacks</b></h1>
    <hr style="height:2px; width:100%; border-width:0; color:blue; background-color:blue;">
    <marquee scrollamount="20">
      <div class="row">
        <div class="col-lg-4">
          <img src="{% static 'images/aws.jpg' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static 'images/azure.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="{% static 'images/google-cloud_graphic.png' %}" class="bd-placeholder-img rounded-circle" width="140" height="140"/>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </marquee>
  </div>
</html>
<!-- Cloud Section End -->

<script>
    var myCarousel = document.querySelector('#myCarousel')
    var carousel = new bootstrap.Carousel(myCarousel, {
    interval: 5000,
    wrap: false })
</script>
{% endblock body %}
