.navbar{
  font-weight: bold;
  background-color:#291b6a;
}

.navbar-brand{
  font-weight: bold;
  background-color:#291b6a;
}

.nav-link:hover{
  color: #A74AD2 !important;
  background-color:#291b6a;
  border-radius:10px;
}

.navbar-brand:hover{
  color: lightblue !important;

}
