.navbar
{
    min-height: 50px;
    background-color:#291b6a;

}

#test
{
    width:  400px;
    height: 300px;
    top: 50px;
    margin: 10px;
    border: solid 1px;
    position: relative;
    background-attachment: white;
    box-shadow: -50px -50px -5px -50px -50px -50px -5px -50px;
}

.col-sm1
{
    border: solid 1px;
    height: 300px;
    width: 400px;
}